@mixin inset($spacing) {
    top: $spacing;
    right: $spacing;
    bottom: $spacing;
    left: $spacing;
}

:root {
    --popmicro-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); 
    --popmicro-bg-opacity: 0.8;
}


.popmicro {
    &__wrapper {
        box-sizing: border-box;
        position: fixed;
        background-color: rgba(0,0,0, var(--popmicro-bg-opacity));
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        @include inset(0);

    }
    &__inner {
        box-sizing: border-box;
        position: relative;
        box-shadow: var(--popmicro-shadow);
        max-height: 100%;
        max-width: 100%;
        overflow-y: auto;
    }
    &__inner > * {
        box-sizing: border-box;
        max-width: 100%;
    }
    &__close {
        position: absolute;
        height: 30px; width: 30px;
        padding: 0;
        top: 1rem;
        right: 1rem;
        border: none;
        background: none;
        transition: transform 200ms ease-out;
        cursor: pointer;
    }
    &__close:hover {
        transform: scale(1.1);
    }
    &__close-icon {
        fill: white;
        width: 100%;
    }

    &__hide {
        display: none !important;
    }

}